<!doctype html>
<html>
    <head>
        <title>Private Forum</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div id="menu">
            <a href="/"><b>Private Forum</b></a>
            {% if current_user %}
            <a href="/newpost">New Post</a>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
